<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid">
                <a class="navbar-brand mb-1" href="/"><img
                        src="https://dnvefa72aowie.cloudfront.net/karrot-cs/etc/202007/0cf1d10235c37b2635c02719125da37cc1bd632518198b1e1da7f5a364156540.png"
                        alt="당근마켓" height="28px" width="100px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                    <div class="navbar-nav">
                        <a class="nav-link " href="/daangns"
                            style="color:#f97e2c; font-size:18px; font-weight:700;">중고거래</a>
                    </div>
                    <div class="navbar-nav ml-auto">
                        <% if(!currentUser) { %>
                            <a class="nav-link" href="/login" style="font-size:18px; font-weight:700;">로그인</a>
                            <a class="nav-link" href="/register" style="font-size:18px; font-weight:700;">회원가입</a>
                            <% } else {%>
                                <a class="nav-link float-right" href="/logout"
                                    style="font-size:18px; font-weight:700;">로그아웃</a>
                                <% }%>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>